React-Redux/1-MoviesWebApp/sensibleInformations\.js
React-Native/auth/src/assets/sensibleInformations\.js
React-Native/Manager/src/assets/sensibleInformations\.js
Firebase/OTP/functions/assets/credentials\.json
React-Native/Firebase-Auth/src/assets/sensibleInformations\.js

React-Native/Jobs/src/assets/sensibleInformations\.js

React-Native/HotDog/MLTuriCreate

*.DS_Store